# TP2 — Représentation Bag of Words et TF-IDF

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

phrases = [
    "Le football est un sport populaire",
    "Le basketball se joue avec un ballon",
    "Le tennis se joue sur un court"
]

vectorizer = CountVectorizer()
X_bow = vectorizer.fit_transform(phrases)

df_bow = pd.DataFrame(X_bow.toarray(), columns=vectorizer.get_feature_names_out())
df_bow

,avec,ballon,basketball,court,est,football,joue,le,populaire,se,sport,sur,tennis,un
0,0,0,0,0,1,1,0,1,1,0,1,0,0,1
1,1,1,1,0,0,0,1,1,0,1,0,0,0,1
2,0,0,0,1,0,0,1,1,0,1,0,1,1,1

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()
X_tfidf = tfidf_vectorizer.fit_transform(phrases)

df_tfidf = pd.DataFrame(X_tfidf.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
df_tfidf

,avec,ballon,basketball,court,est,football,joue,le,populaire,se,sport,sur,tennis,un
0,0.000000,0.000000,0.000000,0.000000,0.461381,0.461381,0.000000,0.272499,0.461381,0.000000,0.461381,0.000000,0.000000,0.272499
1,0.453868,0.453868,0.453868,0.000000,0.000000,0.000000,0.345179,0.268062,0.000000,0.345179,0.000000,0.000000,0.000000,0.268062
2,0.000000,0.000000,0.000000,0.453868,0.000000,0.000000,0.345179,0.268062,0.000000,0.345179,0.000000,0.453868,0.453868,0.268062